<!DOCTYPE html>
<html>
<head>
  <title>Submitted</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }

    h2 {
      color: #333;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .box {
      border: 1px solid #ccc;
      padding: 10px;
      background-color: #fff;
      margin-top: 20px;
    }

    pre {
      margin: 0;
      padding: 5px;
    }
  </style>
</head>
<body>
  {% if xyz_content %}
  <h2>Generated input file:</h2>

    {% if calculation_type == '! NMR' %}
    <div class="box">
      <pre>{{ title }}</pre>

      <pre>{{ method_basis }} {{ aux_basis_set }}</pre> 
      <pre>{{ calculation_type|add:' TightSCF' }}</pre>
      <pre>{{ csc }}</pre>
      <pre>{{ xyz_content }}</pre>
      <pre>{{ '*' }}</pre>

      <pre>%eprnmr</pre>
      <pre> Nuclei = all C { shift }</pre>
      <pre> Nuclei = all H { shift }</pre>
      <pre>end</pre>

    </div>

    {% elif calculation_type == '! UV-vis' %}

    <div class="box">
      <pre>{{ title }}</pre>

      <!-- -->
      <pre>{{ method_basis }}</pre>

      <pre>%cis</pre>
      <pre> nroots 8</pre>
      <pre> maxdim 64</pre>
      <pre>end</pre>

      <pre>{{ csc }}</pre>
      <pre>{{ xyz_content }}</pre>
      <pre>{{ '*' }}</pre>

    </div>


    {% else %}
    <div class="box">
      <pre>{{ title }}</pre>
      <pre>{{ method_basis }}</pre>
      <pre>{{ calculation_type }}</pre>
      <pre>{{ csc }}</pre>
      <pre>{{ xyz_content }}</pre>
      <pre>{{ '*' }}</pre>
    </div>
    {% endif %}
  
  {% else %}
  <p>No data available.</p>
  {% endif %}
  
</body>
</html>
